button {
	background: rgba(#ffffff, 0);
	border: none;
	cursor: pointer;
	&:focus {
		outline: none;
	}
}

button.tag {
	margin: 2px;
	border: none;
	border-radius: 5px;
	box-shadow: none;
	color: $blue;
	padding: 8px 12px;
	font-weight: 400;
	font-size: 0.9rem;
	cursor: default;
	&.web {
		background: $light-grey;
	}

	&.graphics {
		background: $light-grey;
	}
}

button.nav-contact {
	background-size: 200% auto;
	background-image: linear-gradient(to right, #1da5c9 0%,#1d85db 100%);
	color: white;
	text-transform: uppercase;
	padding: 14px 15px;
	font-weight: 700;
	font-size: 1.5rem;
	border-radius: 5px;
	transition: all 0.3s ease;
	white-space: nowrap;
	box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
	// margin-left: 15px;
	margin: 5vh auto;
	display: flex;
	border:2px solid white;
	&:hover {
		background-position: right center;
		box-shadow: 0 7px 20px -5px rgba(0, 0, 0, 0.4);
	}
}


button.agency-business {
	background: $yellow;
	color: black;
	text-transform: uppercase;
	padding: 10px 15px;
	font-weight: 700;
	font-size: 0.9rem;
	border-radius: 5px;
	margin: 0;
	transition: all 0.3s cubic-bezier(0.16, 0.91, 0.56, 1.0);

	&:hover {
		background: white;
	}
}


/* Hamburgers */

.hamburger .line{
  width: 25px;
  height: 4px;
  background-color: $blue;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}
