// color palette 1 --deprecated
/* $dark-blue: #456bf1;
$blue: #1089E8;
$light-blue: #14C7FF;
$cyan: #10E0E8;
$green: #0EE6C0; */
// color palette 2
$black: rgb(0, 25, 60);
$blue: #1d72f7;
$yellow: #EFDC05;
$light-yellow: #FFFF00;
$grey: #424242;