// color palette 1 --deprecated
/* $dark-blue: #456bf1;
$blue: #1089E8;
$light-blue: #14C7FF;
$cyan: #10E0E8;
$green: #0EE6C0; */
// color palette 2
$black: rgb(0, 25, 60);
// $blue: #1d72f7;
$blue:#1B8DCB;
$light-blue: #e8f1ff;
$yellow: #ECCE1E;
$light-yellow: #FFFF00;
$grey: #424242;
$white: #fff;
$blue-new:#1B8DCB;
$dark-blue: #2A3275;
$red: #ed467b;
$light-red: #ec7e7a;
$light-grey: #DADFE5;
