* {
	z-index: 999;
}

#content {
	background: white;
}

.container {
	padding: 100px 10%;
	max-width: 1600px;
	margin: 0 auto;
	@include tablet {
		padding: 50px 5%;
	}
	@include mobile {
		padding: 50px 5%;
	}

	.row {
		margin: 30px 0 50px 0;
	}
}
// FLEX GRID

%flex {
	display: flex;
}

.flex-row {
	@extend %flex;
	flex-flow: row wrap;
}

.flex-column {
	@extend %flex;
	flex-flow: column;
}

.flex-column,
.flex-row {
	.flex1 {
		flex: 1;
	}

	.flex2 {
		flex: 2;
	}

	.flex3 {
		flex: 3;
	}

	.flex4 {
		flex: 4;
	}
}

.no-mobile {
	@include mobile {
		display: none;
	}
}
.no-tablet {
	@include tablet {
		display: none;
	}
}
