.flex {
	display: flex;
}

.flex1 {
	flex: 1
}
.flex2 {
	flex: 1
}
.flex3 {
	flex: 1
}
.flex4 {
	flex: 1
}
.flex5 {
	flex: 1
}
.flex6 {
	flex: 1
}
.flex7 {
	flex: 1
}
.flex8 {
	flex: 1
}
.flex9 {
	flex: 1
}
.flex10 {
	flex: 1
}
.flex11 {
	flex: 1
}
.flex12 {
	flex: 1
}
