* {
	z-index: 999;
}

section {
	margin: 50px 0;
}

.container {
	padding: 20px 10%;

	.row {
		margin: 20px 0;
	}
}

%flex {
	display: flex;
}

.flex-row {
	@extend %flex;
	flex-flow: row wrap;
}

.flex-column {
	@extend %flex;
	flex-flow: column;
}

.flex-column,
.flex-row {
	.flex1 {
		flex: 1;
	}

	.flex2 {
		flex: 2;
	}

	.flex3 {
		flex: 3;
	}

	.flex4 {
		flex: 4;
	}
}
