#section-404{
  background-image: url("./images/404/bfm-2.0-trees-row.svg");
  background-repeat: repeat-x;
  background-size: 15%;
  background-position: bottom;
  margin-bottom: -10px;
  .text5{
    font-weight: 700;
  }
}
