.posts {
  text-align: center;
    .post {
      p.date {
        font-size: 0.9rem;
        color: rgb(143, 142, 142);
      }
    .sharedaddy {
      display: none;
    }
    width: 70%;
    margin: 0 auto;
    @include mobile {
      width: 100%;
    }
    .post-image {
      position: relative;
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        @include mobile {
          height: 200px;
        }
      }
      .post-info {
        position: absolute;
        top: 80%;
        left: 6%;
        width: 88%;
        height: auto;
        background-color: white;
        padding: 10px;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
        p {
          font-size: 1.0rem;
        }
        @include mobile {
          top: 100%;
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

.post-info a {
  text-decoration: none;
  & .arrow {
    opacity: 0;
    display: inline-block;
    transform: translate(-10px, 2px);
    transition: all 0.3s cubic-bezier(0.2, 0.99, 0.71, 1.18);
    margin-bottom: -10px;
    svg {
      fill: white;
    }
  }
  &.read-more {
    //border: 1px solid black;
    //background-color: black;
    padding: 5px;
    font-weight: 700;
    font-size: 1rem;
  }
  &:hover > .arrow{
    transform: translate(2px, 2px);
    opacity: 1;
  }
}

.post-info a {
  &.read-more {
    color: $blue;
  }
}

/*
//First version
.posts {
  width: 80%;
  margin: 0 auto;
  .post {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline;
      }
    }
    .post-image img {
      width: 25%;
      height: auto;
    }
  }
}
*/

//CSS for single.php
.post-thumbnail {
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.container-blog {
  padding: 10px;
  max-width: 950px;
  margin: 0 auto;
}

#related-posts .container-blog {
  .related-posts {
    justify-content: flex-start;

    .related-post {
      flex: 1 210px;
      margin: 10px;
      .related-post-thumb > a {
        img {
          height: 400px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

h1.entry-title {
  margin: 100px auto 10px auto;
  width: 75%;
  font-size: 3.2rem;
}
.entry-meta {
  width: 75%;
  margin: 0 auto 20px auto;
}

//Content page
  .entry-content {
    width: 75%;
    margin: 10px auto;
    p {
      font-size: 1.05rem;
    }
  }

//Footer page-links
.footer-right {
  text-align: right;
}

div.entry-content p:first-child:first-letter {
float:left;
font-size:5em;
color: $black;
margin-right:0.10em;
line-height:90%;
//text-shadow: 0.05em 0.05em #C0C0C0;
}
