.no-bottom-padding{
  padding-bottom: 0 !important;
  text-align: center;
}

#section-contact {
  background-image:url("./images/homepage/bfm-2.0-new-home-page-image-1.jpg");
  .container-contact{
    padding: 100px 10%;
    h2,p{
      text-align: center;
      color: white;
    }
    .contact-form{
      display: flex;
      justify-content: center;
      margin-top: 50px;
      input,textarea{
        background: transparent;
        border: 1px solid white;
        padding: 5px 10px;
        font-family: "Source Sans Pro", sans-serif;
      }

      div.contact-form-part-1{
        .contact-form-part-2{
          display: flex;
          div:nth-child(2) > span > input{
            margin-left: 1em;
          }
        }
        .contact-form-part-3{
          display: flex;
          margin-top: 1em;
          div:nth-child(2) > span > input{
            margin-left: 1em;
          }
        }
      }
      div.contact-form-part-6{
        text-align: center;
        margin-top: 1em;
      }
      input[type="submit"]{
        color: white;
        padding: 15px 25px;
        background: -moz-linear-gradient(left, #FFB64C 0%, #FF8E02 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #FFB64C 0%, #FF8E02 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #FFB64C 0%, #FF8E02 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        font-size: 1.5em;
        border-radius: 12px;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
        &:hover, &:active {
          color: $blue;
          background: white;
          border-color: white;
        }
      }
    }
    .contact-info{
      display: flex;
      justify-content:space-evenly;
      margin: auto;
      max-width: 1100px;
      margin-top: 50px !important;
      .info-left,.info-right,.info-center{
        display: flex;
        align-items: center;
        i::before{
          padding: 10px;
        }
      }
    }
    @include mobile{
      padding: 60px 7%;
      .contact-form{
        div.contact-form-part-1{
          .contact-form-part-2{
            flex-direction: column;
            div:nth-child(2) > span > input{
              margin-left: 0;
              margin-top: 1em;
            }
            p{
              margin:0 !important;
            }
          }
          .contact-form-part-3{
            flex-direction: column;
            div:nth-child(2) > span > input{
              margin-left: 0;
              margin-top: 1em;
            }
            p{
              margin:0 !important;
            }
          }
        }
      }
      .contact-info{
        flex-direction: column;
        .info-left,.info-right,.info-center{
          display: flex;
          align-items: baseline;
          i::before{
            padding: 10px;
          }
        }
      }
    }
    @include tablet{
      padding: 100px 3%;
    }
  }
}





// livechat
@include mobile {
  #livechat-compact-container {
    transform: scale(0.75) translate(15%, 15%);
    -webkit-transform: scale(0.75) translate(15%, 15%);
  }
}
