#section-contact .container {
  form {
    input {
      margin: 5px 0;
      padding: 8px 10px;
      border-radius: 0;
      border: none;
      border-bottom: 2px solid #696969;
      transition: border 0.5s cubic-bezier(0.7,0.7,0.7,1.0);
      &:focus {
        border-bottom-color: $blue;
        outline: none;
      }
    }
  }
}


// part contact and map

#contact-map .container {
  .contact-info,
  .contact-map {
    min-width: 300px;
  }
}
//Contact us Section
.contactus-container {
  padding: 20px 10%;
  background-color: lightgrey;

  form input {
    border: 3px solid #1d72f7;
    width: 100%;
  }
  .wpcf7-submit {
    background-color: #1d72f7;
    font-size: 1.5rem;
    color: white;
    border-radius: 8px;
    width: 120px;
  }
}
.one-half {
    position: relative;
    margin-right: 4%;
    float: left;
    margin-bottom: 20px;
    width: 48%;
}

.last {
    margin-right: 0 !important;
    clear: right;
}

@media only screen and (max-width: 767px) {
    .one-half {
        width: 100%;
        margin-right: 0;
    }
    .contactus-container {
      .wpcf7-submit {
        width: 80px;
      }
    }

}
