.section-baner{
  @media(min-width: 600px){
      display: flex;
  }
  height: 600px;

  .text-banner{
    padding:10%;
    flex: 2;
    background-color: #1D72F7;
    h3,p{
      color: #fff;
    }
  }
  .image-banner{
    flex: 3;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media(max-width: 500px){
      height: 300px;
    }
  }
  .people{
        background-image: url("./images/digital-marketing/people.jpg");
  }
  .city{
    background-image: url("./images/digital-marketing/city.jpg");
  }
}

.process-container{
  text-align: center;
  padding-bottom: 50px;
  .digital-marketing{
    h2{
        padding: 50px;
    }
    text-align: center;
}
  .figure-and-text{
    padding: 10px;
    @media(max-width: 500px){
      display: flex;
    }
    .figure{
      max-width: 1200px;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      @media(min-width: 500px){
            display: flex;
      }

      .circle{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 3px solid #1D72F7;
        display: inline-block;
        position: relative;
        @media(min-width: 500px){
              display: flex;
        }
        @media(max-width: 1080px){
          height: 120px;
          width: 120px;
          p{
            font-size: 18px !important;
            font-weight: 800;
          }
        }
        justify-content: center; /* align horizontal */
        align-items: center;
        p{
          font-size: 30px;
          font-weight: 600;
          position: absolute;
          top: 25%;
          left: 25%;
        }
      }
      .arrow1{
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center;
        img{
          width: 100px;
          height: 20px;
          @media(max-width: 500px){
            transform: rotate(90deg);
            width: 40px !important;
            margin: 10px;
          }
          @media(max-width: 1080px){
            width: 70px;
          }

        }
      }
    }
    .text-below{
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      @media(max-width: 500px){
        flex-direction: column;
      }
      @media (max-width: 1080px){
        max-width: 900px;
      }

      .text-one{
        padding: 20px 35px;
      }
    }
  }

}



.services-container{
  background-color: #2B2B2B;
  text-align: center;

  h2{
      color: #fff;
      padding: 50px;
  }
  .services-blocks{
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    @media(min-width: 500px){
          display: flex;
    }

      .service-block{
        flex: 1;
        text-align: center;
        flex-basis: 33%;
        padding:10px;
        img{
          width: 150px;
          background-color: #fff;
        }
        h3,p{
          padding: 10px 40px;
          color: #fff;
        }
      }
  }

}
