#popular-package{
  background-color: #F6F7F7;
  .container{

    @media(max-width: 770px){
      flex-flow: column;
    }
    .package-left{
      @media(min-width: 770px){
      padding-right: 10%;
      }

      .accordion1{
        .accordion {
          background-color: #2A8CC8;
          color: #fff;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
          transition: 0.4s;
          font-weight: 600;
          border-radius: 0 !important;
        }
        .active, .accordion:hover {
            background:linear-gradient(to left, #1da5c9 0%, #1d85db 100%);
        }

        .panel {
            padding:18px;
            display: none;
            background-color: white;
            overflow: hidden;
            border: 1px solid #1D88D9;
            ul{
                              padding-left: 1vw;
              li{
                list-style-image: url("images/bfm-arrow-icon.svg");

              }
            }

        }

        .accordion:after {
            content: '\276c';
            // image: url("./images/bfm-arrow-icon-white.svg");
            // content: url("./images/bfm-arrow-icon-white.svg");
            color: #fff;
            font-weight: bold;
            float: right;
            margin-right: 35px;
            transform: rotate(-90deg) scale(2.5);
            // transform: scale(3);
            // background-color: #000;
        }
        .active:after {
          content: '\276c';
            color: #fff;
            transform: rotate(90deg) scale(2.5);

        }
      }
    }
    .package-right{
      text-align:  center;
      @media (max-width: 800px){
        display: none;
      }
    }
  }
}



#section-packages {
  // background-color: $blue-new;
  position: relative;
  justify-content: space-between;

  .container {
    // background-color: $blue-new;
    margin: 0 auto;
    max-width: 1300px;
    padding: 3% 3% 7% 3%;
    h1 {
      text-align: center;
      color: #000;
    }
    .services {
      justify-content: space-between;
    }
  }
}
.package {
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.4);
  .service-anchor {
    .logo {
      text-align: center;
      width: 100%;
      // margin-top: 10px;
      background-image:linear-gradient(to bottom, #1da5c9 0%, #1d85db 100%);
      border-radius: 10px 10px 0 0;
      padding: 25px;
      img {
        height: 180px;
        // border-radius: 10%;
        margin: 0 auto;
        display: block;
        @include mobile {
          margin: 0 auto;
        }
      }
      h3{
        color: white;
      }
      p{
        color: white;
        font-size: 15px;
      }
    }
  }
  @include mobile {
    min-height: auto;
  }
  flex-flow: row;
  width: calc(100% * (1/3) - 50px);
  text-align: left;
  // padding: 0 10px;
  margin: 20px;
  @include tablet {
    width: calc(100% * (1/2) - 40px);
  }
  @include mobile {
    width: calc(100% - 20px);
    text-align: center;
  }

  a.service-anchor {
    display: block;
    h3::before {
      width: 25%;
      transition: all 0.2s cubic-bezier(0.13, 0.59, 0.63, 1.07);
      left: 37.5%;
    }

    &:hover h3::before {
      width: 50%;
      left: 25%;
    }
  }
  .logo {

  }
}
.package-content {
  margin: 20px 0;
  p{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }

  ul {
    li {
      font-size: 16px;
      text-align: left;
      font-weight: 600;
      color: $black;
      @include mobile {
        // text-align: center;
      }
    }
  }
}

.package-list {
  color: #6b6b6b;
  list-style-image: url("images/bfm-arrow-icon.svg");
  padding: 15px 25px 15px 40px;
  @include mobile {
    // list-style: none;
  }
  // margin-left: 15px;
}

.yellow-background{
  background-color: $yellow;
  padding: .5em .9em;
  font-weight: 700;
}
.shown-in-mobile-only{
  padding: 2em 4em;
  @media(min-width: 800px){
    display: none;
  }
}

.margin-left{
  margin-left: 20px;
}



.contactus{
  background-color:#F3F3F4 ;
  position: relative;
  .contactus-top{
    p{
      text-align: center;
      font-size: 4vw;
      font-weight: 700;
      padding-top: 4vw;
      img{
        height: 3.5vw;
        width: 3.5vw;
      }
    }
    @media screen and (max-width: 457px){
      p{
        font-size: 8vw;
        padding-top: 7vw;
        img{
          height: 8vw;
          width: 8vw;
        }
      }
    }
  }
  .contactus-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    @media (max-width: 450px){
      width: 90%;
    }
    @media (max-width: 370px){
      width: 95%;
    }
    margin: 0 auto 0 auto;
    padding-bottom: 6vw;
    max-width: 1200px;

    .contactus-middle{
      margin:0 auto;
      p{
        text-align: center;
        font-size: 1.24vw;
        margin: 2vw auto 4vw auto;
        @media screen and (max-width:1400px){
          font-size: 1.8vw;
        }

        @media screen and (max-width:767px){
          font-size: 3vw;
        }
      }
    }

    .contactus-bottom{
        margin:0 auto;
      .contactus-bottom-container{

        margin: 0 auto;
        form {
          text-align: center;
        }

        .one-row {
          display: flex;
          flex-flow: row wrap;

          .one-half {
            flex: 1;
          }
          .first{
            margin-right: 30px;
          }

          input{
          border-color: #44C5E6;
          border-radius: 2.5vw;
          border-width: .15vw;
          padding: 1vw;
          margin-bottom: 20px;
          outline: none;
          }
        }
        textarea{
          padding: 1vw;
          border-color: #44C5E6;
          border-radius: 2.5vw;
          border-width: .15vw;
          width: 100%;
          outline: none;
        }
        .wpcf7-submit {
          background-color: #44C5E6;
          color: #000;
          font-size: 1.5rem;
          border: none;
          border-radius: 40px;
          width: 10vw;
          font-family: $font-primary;
          padding: 1vw;
          outline: none;
          @media screen and (max-width: 600px){
            width: 27vw;
            border-radius: 30px;
          }
        }

        @media only screen and (max-width: 1200px) {
          .one-row{
            .one-half {
                width: 100%;
                margin-right: 0;
            }
            .first{
              margin-right: none;
            }
          }

          textarea{
            width: 100%;
            outline: none;
          }
          .one-row > div:nth-child(1) > span > input{
            width: 70vw;
            outline: none;
          }
          .one-row > div:nth-child(2) > span > input{
            width: 70vw;
            outline: none;
          }
        }
      }
    }
  }
}

#wpcf7-f142-o1 > form > div:nth-child(4){
  align-items: center;
  padding: 10px 1vw 20px 2vw;
}
