#section-header {
  min-height: 65vh;
  position: relative;

  #particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    padding-top: 150px;
    @media(max-width: 500px){
      padding-top: 80px !important;
    }
    .header-text{
      h1{
        @media(max-width: 1025px){
          font-size: 3.9rem;
        }
      }
    }
  }
}

// section-aboutus
#section-aboutus {
  background: $blue;
  @include slanted-edge(top-left, 0, 15%);

  .container {
    position: relative;

    .left {
      max-width: 600px;
    }
  }
}

// section-ourprocess
#section-ourprocess {

    #particles {
      //position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  .container {

    h1 {
      text-align: center;
    }
    .process {
      @include mobile {
        flex-flow: column;
      }
    }
    @include mobile {
      .process-pic {
        order: 1;
      }
      .process-title {
        order: 2;
      }
    }
    .process-pic {
      text-align: center;
    }
    .process-pic img {
      width: 50%;
    }
    .process-title {
      justify-content: center;
      text-align: center;
      max-width: 500px;
      margin: 1rem auto;
    }
  }
}

// section-services
#section-services {
  background-color: white;
  position: relative;
  justify-content: space-between;

  .container {
    background-color: $yellow;
    margin: 0 auto;
    max-width: 1300px;
    padding: 3%;
    border-radius: 50px;
    h1 {
      text-align: center;
      //color: white;
    }
    .services {
      justify-content: space-between;
      @include tablet{
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
.service {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.4);
  .service-anchor {
    .logo {
      text-align: center;
      width: 100%;
      margin-top: 20px;
      img {
        height: 100px;
        border-radius: 10%;
        margin: 0 auto;
        display: block;
        @include mobile {
          margin: 0 auto;
        }
      }
    }
  }
  @include mobile {
    min-height: auto;
  }
  flex-flow: row;
  width: calc(100% * (1/3) - 50px);
  text-align: left;
  padding: 0 20px;
  margin: 20px;
  @include tablet {
    width: calc(100% * (1/2) + 10px) !important;
  }
  @include mobile {
    width: calc(100% - 20px);
    text-align: center;
  }

  a.service-anchor {
    display: block;
    h3::before {
      width: 25%;
      transition: all 0.2s cubic-bezier(0.13, 0.59, 0.63, 1.07);
      left: 37.5%;
    }

    &:hover h3::before {
      width: 50%;
      left: 25%;
    }
  }
  .logo {

  }
}
.service-content {
  margin: 20px 0;
  ul {
    li {
      text-align: left;
      @include mobile {
        text-align: center;
      }
    }
  }
}

.service-list {
  color: #6b6b6b;
  list-style-image: url("images/bfm-arrow-icon.svg");
  @include mobile {
    list-style: none;
  }
  margin-left: 15px;
}

// section-split-contacts
#section-split-contacts {
  background-color: $blue;

  .item {
    margin: 0 50px;
  }

  .container {
    text-align: center;
    h2 {
      color: white;
    }

    img {
      height: 100px;
      border-radius: 10%;
      margin: 0;
      display: block;
      margin: 0 auto;
    }

  }
  .goto-contact {
    margin: 0;
    text-align: center;
    button {
      background-color: $blue;
      border: 3px solid white;
      color: white;
      font-weight: 700;
      font-size: 1.5rem;
      border-radius: 8px;
      transition: all 0.3s cubic-bezier(0.4,0.7,0.4,1.1);
      padding: 15px 20px;
      z-index: 999999;
      box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.4);

      &:hover {
        color: $blue;
        background: white;
      }
    }
  }
}
// section-client-slider

#section-client-slider {
  background: white;

  .container {
    justify-content: center;

    h2 {
      text-align: center;
    }

    .owl-carousel {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;

      img {
        @include mobile {
          width: 150px;
          margin: 0 auto;
        }
      }
    }
  }
}
// section-testomonials

#section-testomonials {
  background-color: $blue;

  h2 {
    text-align: center;
    color: white;
  }

  .container {
    .testimonials {
      display: flex;
      justify-content: space-around;

      .title p {
        justify-content: center;
      }

      .test {
        width: 450px;
        min-height: 450px;
        margin: 20px;
        padding: 50px;
        background-color: white;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.4);
        @include mobile {
          min-height: auto;
        }

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }

        p.test-message {
          font-size: 1.1rem;
          background-image: url("images/homepage/quotation-yellow.png");
          background-repeat: no-repeat;
          background-position: center;
        }

        p.author {
          font-weight: 700;
          margin-bottom: 5px;
          margin-top: 40px;
        }

        p.company {
          color: $grey;
          margin: 0;
        }
      }
    }
  }
}
// section-getintouch

#section-getintouch {
  background-image: url("images/bfm-tiled-background-blue.svg");
  background-size: 35vw;

  .container {
    text-align: center;

    button {
      background-color: white;
      border: 5px solid $blue;
      font-weight: 700;
      font-size: 3rem;
      border-radius: 15px;
      transition: all 0.3s cubic-bezier(0.4,0.7,0.4,1.1);
      padding: 18px 30px;
      z-index: 999999;
      box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.4);

      &:hover {
        color: white;
        background: $blue;
      }
    }
  }

  &.blue {
    background-color: $blue;
  }
}
//background-color: #af2546;
