#section.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .item {
    flex: 1;
    min-width: 400px;
    height: auto;
    margin: 20px;
    text-align: center;
  }

  .vertical-line {
    max-width: 2px;
    flex: 1;
    margin: 20px;
    padding-top: 5%;

    .line {
      height: 60%;
      background: gray;
    }
  }
}
@media only screen and (max-width: 920px) {
  .container .vertical-line {
    min-width: 500px;
    padding-top: 0;

    .line {
      max-height: 2px;
      min-width: 60%;
      background-color: gray;
      margin: 10px;
    }
  }
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
// section-header

#section-header {
  height: 600px;
  position: relative;

  #particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    padding-top: 150px;
  }
}
// section-aboutus

#section-aboutus {
  background: $blue;
  @include slanted-edge(top-left, 0, 15%);

  .container {
    position: relative;

    .left {
      max-width: 600px;
    }
    // rellax box inside aboutus
    .fbox {
      display: block;
      @include mobile {
        z-index: 99;
      }

      &#fbox1 {
        @include position(absolute, $bottom: 10%, $right: 20%);
        @include box(200px, 200px);
        border-radius: 50px;
        background: $yellow;
        @include mobile {
          @include box(100px, 100px);
          border-radius: 20px;
          background: transparentize($yellow, 0.5);
        }
      }

      &#fbox2 {
        @include position(absolute, $bottom: 10%, $left: -2%);
        @include box(100px, 100px);
        border-radius: 20px;
        background: darken($blue, 5);
      }

      &#fbox3 {
        @include position(absolute, $bottom: -10%, $right: 13%);
        @include box(100px, 100px);
        border-radius: 20px;
        background: darken($blue, 20);
        @include mobile {
          @include box(200px, 200px);
          border-radius: 50px;
        }
      }
    }
  }
}
// section-services

.services {
  margin: 50px 0;
}

.service {
  flex-flow: row;
  width: calc(100% * (1/3) - 50px);
  text-align: left;
  padding: 0 20px;
  margin: 20px;
  @include tablet {
    width: calc(100% * (1/2) - 40px);
  }
  @include mobile {
    width: calc(100% - 20px);
    text-align: center;
  }

  .logo {
    width: 100%;

    img {
      height: 100px;
      border-radius: 10%;
      margin: 0;
      display: block;
      @include mobile {
        margin: 0 auto;
      }
    }
  }
}

.service-content {
  margin: 20px 0;

  ul {
    li {
      text-align: left;
      @include mobile {
        text-align: center;
      }
    }
  }
}

.service-list {
  color: #6b6b6b;
}

#section-services {
  background-color: white;
  // @include slanted-edge(top-right, 100%, 15%);
}
// section-split-contacts

#section-split-contacts {
  background-color: $blue;

  .container {
    h2 {
      color: white;
    }

    img {
      height: 100px;
      border-radius: 10%;
      margin: 0;
      display: block;
      @include mobile {
        margin: 0 auto;
      }
    }
  }
}
// section-client-slider

#section-client-slider {
  background: white;

  .container {
    justify-content: center;

    .owl-carousel {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;

      img {
        @include mobile {
          width: 150px;
          margin: 0 auto;
        }
      }
    }
  }
}
// section-testomonials

#section-testomonials {
  background-color: $blue;

  h2 {
    text-align: center;
    color: white;
  }

  .container {
    .testimonials {
      display: flex;
      justify-content: space-around;

      .title p {
        justify-content: center;
      }

      .test {
        width: 450px;
        min-height: 500px;
        margin: 20px;
        background-color: white;
        padding: 50px;
        text-align: center;
        border-radius: 20px;
        @include mobile {
          min-height: auto;
        }

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }

        p.test-message {
          font-size: 1.4rem;
        }
      }
    }
  }
}
// section-getintouch

#section-getintouch {
  // background-color: $blue;
  background-image: url("images/bfm-tiled-background-blue.png");

  .container {
    text-align: center;

    button {
      border: 3px solid white;
      color: white;
      font-weight: 700;
      font-size: 3rem;
      border-radius: 15px;
      transition: all 0.3s cubic-bezier(0.4,0.7,0.4,1.1);
      padding: 18px 30px;

      &:hover {
        background-color: white;
        color: $blue;
      }
    }
  }
}
//pop up div

#section-contact .container {}
// footer