#portfolio {
  .project {
    position: relative;
    min-height: 500px;
    width: 90%;
    margin: 40px auto;

    .mobile-project-title {
      display: none;
      @include mobile {
        display: block;
        margin: 10px auto;
        text-align: center;
      }
    }

    .project-image {
      background: url("https://placeimg.com/600/400/any");
      background-size: cover;
      position: absolute;
      height: 100%;
      width: 70%;
      top: 0;
      @include tablet {
        position: static;
        width: 100%;
        height: 500px;
        margin-bottom: -10%;
      }
      @include mobile {
        position: static;
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
        box-shadow: none !important;
      }
    }

    &.left .project-image {
      left: 30%;
      box-shadow: 15px 15px 30px -10px rgba(0, 0, 0, 0.4);
    }

    &.right .project-image {
      right: 30%;
      box-shadow: -15px 15px 30px -10px rgba(0, 0, 0, 0.4);
    }

    .short-description {
      background: white;
      border: 10px solid rgb(33, 33, 33);
      padding: 20px;
      position: absolute;
      height: 80%;
      width: 40%;
      top: 10%;
      text-align: left;
      @include tablet {
        position: static;
        width: 90%;
        margin: 0 auto;
      }
      @include mobile {
        position: static;
        width: 100%;
        margin: 0 auto;
        border-width: 4px;
        h2 {
          display: none;
        }
      }
    }

    &.left .short-description {
      left: 0;
    }

    &.right .short-description {
      right: 0;
    }

  }
}
