.item-row{
  @media(min-width: 767px){
    display: flex;
    justify-content: space-between;
  }

  .item{
    margin: 40px auto 0 auto;
    // background-color: #000;
    flex-basis: 30%;
    height: auto;
    box-sizing: border-box;
  }
}
