#services {
  margin-top: 40px;
  background-color: white;
  .services-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 200px;
    }
  }
  .container {
    @include mobile {
      display: block;
    }
  }

}

// section-video part
#section-video .container {
  background-color: $blue;
  @include mobile {
    display: block;
  }
  .txt-explain {
    p, h2 {
      color: white;
    }
  }
  .video-web {
    margin-left: 30px;
    @include mobile {
      margin-left: 0;
    }
    iframe {
      width: 100%;
      height: 300px;
      margin-top: 20px;
    }
  }
}

// our prices
#section-prz {
  position: relative;
  background-color: white;

  &:after {
    content: "";
    @include position(absolute, $top:-2px, $left:0);
    background: $blue;
    @include slanted-edge(bottom-right, 100%, 70%);
    @include box(100%, 25%);
    z-index: -999;
  }

  .container {
    justify-content: center;
    padding-top: 0;
    width: 100%;
  }
}
.prices-title {
  h2 {
    color: white;
    text-align: center;
    margin: 0 0 25px 0;
  }
}
.prices-type {
  justify-content: center;
}
.prz {
  box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 280px;
  margin: 10px;
  padding: 40px 20px;
  text-align: center;
  background: white;

  img {
    margin: 25px 0;
    object-fit: contain;
    border-radius: 50px;
  }

  h3 {
    margin-bottom: 25px;
  }

  p {
    font-family: $font-primary;
    font-size: 0.9rem;
    line-height: 1rem;
    color: black;
  }

  h2.price {
    color: $blue;
    font-weight: 400;
    margin-bottom: 30px;
  }
}

hr {
  display: block;
  width: 70%;
  height: 1px;
  border: 0;
  background: none;
  border-top: 1px solid rgb(227, 227, 227);
  margin: 10px auto;
  padding: 0;
}

.txtservice {
  color: white;
  background-color: white;
}

#rd {
  background-color: $blue;
}
