#services {
  background-color: $blue;
  @include slanted-edge(bottom-right, 100%, 85%);
}

.prz {
  box-shadow: 15px 15px 30px -10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  // width: (100%/);
  margin: 10px;
  text-align: center;
  justify-content: space-between;

  p {
    font-family: $font-primary;
    font-size: 1.2rem;
  }
}

hr {
  display: block;
  width: 90%;
  height: 1px;
  color: solid grey;
  margin: 10px auto;
  padding: 0;
}

.txtservice {
  color: white;
}

#rd {
  background-color: $yellow;

  h1 {
    // background-color: #EFDC05;
  }
}