#team-about .container {


  .head {
    flex: 1;
  }

  .slide {
    flex: 1;
    position: relative;

    .image {
      opacity: 0;
      position: absolute;
      left: 40%;
    }

    .active {
      opacity: 1;
    }
  }
}

//team teammember
.member img {
  margin: 10px;
  border-radius: 50%;
  object-fit: cover;
  width: 300px;
  height: 300px;
  transition: all 0.5s cubic-bezier(0.8, 0.02, 0.26, 1.69);

  &:hover {
    border-radius: 20%;
  }
}
