#team-about {
  background: white;
}
#team-about .container {
  @include mobile {
    display: block;
    .slide {
      height: 350px;
      .image {
        top: 50px !important;
        left: 0 !important;
        width: 90vw !important;
        height: auto;
        object-fit: cover;
      }
    }
  }
  .head {
    flex: 1;
  }

  .slide {
    flex: 1;
    position: relative;

    .image {
      opacity: 0;
      position: absolute;
      left: 40%;
      max-width: 350px;
      max-height: 400px;
    }

    .active {
      opacity: 1;
    }
  }

  &:after {
    content: "Team.";
    position: absolute;
    top: 10%;
    right: -20%;
    font-size: 35rem;
    color: #f9f9f9;
    font-family: $font-primary;
    font-weight: 800;
    z-index: 10;
    @include mobile {
      display: none;
    }
  }
}
//team teammember
#our-team {
  background: white;
}
#our-team .container {
  position: relative;

  .member-row {
    justify-content: space-evenly;

    .member {
      text-align: center;
      margin: 20px 0;
      max-width: 250px;

      img {
        margin: 5px;
        border-radius: 50%;
        object-fit: cover;
        width: 250px;
        height: 250px;
        transition: all 0.5s cubic-bezier(0.8, 0.02, 0.26, 1.69);

        &:hover {
          border-radius: 20%;
        }
      }
    }
  }
}
// Get in touch

#getintouch {
  background: $blue;
}

.teammember img:hover {
  border-radius: 20%;
}
