.image-text{
  margin-top: 70px;
  height: 300px;
  @media(max-width: 425px){
    height: 600px;
  }
  @media (min-width: 765px){
    display: flex;
  }

  .banner-image{
    flex: 1;
    background-image: url("images/cities/scarborough.jpg");
    background-position: center;
    height: 300px;
  }
  .banner-text{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3F6EB6;
    text-align: center;
    height: 300px;
    h2{
      max-width: 300px;
      color: white;
    }
  }
}

// image and text section
.image-text-1{
  max-width: 1600px;
  margin: 0 auto;
  @media (min-width: 765px){
    display: flex;
      padding: 80px 80px;
  }
  padding: 0;
  .banner-text-1{
    flex: 1;
    text-align: left;
    padding:18px;
    h2{
      font-size: 33px;
    }
    h3{
      font-size: 22px;
    }
    .text{
      font-size: 16px;
      font-family: $font-secondary;
    }
    .list1{
      li{
        list-style-position: inside;
        font-size: 16px;
        font-family: $font-secondary;
        background: url("images/cities/black-circle.png") no-repeat;
        background-size: 3%;
        padding-left: 40px;
      }
    }
  }
    .banner-image-1{
      flex: 1;
      background-image: url("images/cities/machines");
    }

    @media(max-width: 1025px){
      padding: 40px 20px;
      .banner-text-1{
        h2{
          font-size: 27px;
        }
        .list1{
          li{
            background-size: 6%;
          }
        }
      }
    }
    @media(max-width: 425px){
      padding: 20px 0px;
      .banner-text-1{
        h2{
          font-size: 20px;
        }
        h3{
          font-size: 18px;
        }
        .list1{
          li{
            background-size: 8%;
          }
        }
      }
    }
}


// conparison section
#comparison{
    background-color: #051A3A;
}

.comparison {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
  @media (min-width: 765px){
    flex-flow: row;
      padding: 40px 60px;
  }
  background-color: #051A3A;
  padding: 3px 3px;
  color: white;

  .left-1,.right-1{
    background-color: #051A3A;
    flex: 1;
    @media (min-width: 765px){
        padding: 80px 60px;
    }
    padding: 18px;
    height: auto;
    .right-top,.left-top{
      h1{
        color: $white;
        font-size: 3rem;
        font-family: $font-primary;
        text-align: center;
        @media(max-width: 425px){
          font-size: 2.5rem;
        }
      }
    }
    .right-bottom,.left-bottom{
      ul{
        li{
          background: url("images/cities/red.png") no-repeat;
          float: left;
          font-family: $font-primary;
          font-size: 19px;
          list-style-type: none;
          list-style-position: inside;
          margin-bottom: 20px;
          padding-left: 80px;
          @media(max-width: 425px){
            background-size: 7%;
            padding-left: 40px;
            font-size: 16px;
          }
        }
      }
    }
  }
  .center-1{
    @media (min-width: 765px){
      padding: 50px 10px;
    }
    padding:10px;
    text-align: center;
    h1{
      color: $white;
      font-family: $font-primary;
      font-size: 120px;
      color: $white;
      text-align: center;
      @media(max-width: 425px){
        font-size: 3rem;
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }

  @media (max-width: 1025px){
    padding: 40px 20px;

    .right-1,.left-1{
      padding: 16px;
      .right-top,.left-top{
        h1{
          font-size: 2.2rem;
        }
      }
    }
    .right-bottom,.left-bottom{
      ul{
        li{
          background-size: 10% !important;
          padding-left: 50px !important;
          font-size: 18px !important;
        }
      }
    }
    .center-1{
      padding: 15px 0px;
      h1{
        font-size: 70px;
      }
    }

  }

  @media(max-width: 425px){
    padding: 20px 0px;
  }
}
