.margin-for-footer {
	margin-bottom: 200px;
}

img#logo-footer {
	height: 80%;
	margin: 5px 15px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: -99;
	margin-top: -200px;
	width: 100%;

	.container {
		padding: 5px 10%;
	}

	p {
		opacity: 1 !important;
	}

	.footer-right {}
}