img#logo-footer {
	height: 80%;
	margin: 0 35px 0 0;
}

footer {
	background: rgb(0, 25, 60);
	// border: 20px solid $blue;
	z-index: -99;
	width: 100%;

	.container {
		padding: 50px 5%;
		color: white;
		@include mobile {
			display: block;
			// text-align: center;
			padding: 50px 4%;
		}
	}

	p {
		opacity: 1 !important;
	}
	.footer-center-left{
		@media (min-width: 770px){
			padding-left: 2em;
		}
		@include mobile{
			margin: 50px 0;
		}
		h3{
			color: #fff;
			font-family: $font-primary;
			@media(min-width: 450px){
				margin-bottom: 8%;
			}

		}
		a{
			color: #fff;
		}
	}
	.footer-center-right{
		@media (min-width: 770px){
			padding-left: 2em;
		}
		@include mobile{
			margin: 50px 0;
		}
		h3{
			color: #fff;
			font-family: $font-primary;
			@media(min-width: 450px){
				margin-bottom: 8%;
			}
		}
		a{
			color: #fff;
		}
	}
	.footer-right{
		h3{
			color: #fff;
			font-family: $font-primary;
			@include mobile{
				text-align: center;
			}
		}
		text-align: left;
		// @include mobile{
		// 	justify-content: center;
		// }
		.contact-items{
			.contact{
				display: flex;
				align-items: center;

				.contact-left{
					text-align: center;
					i{
						padding:0 .3em;
						font-size: 2.1em;
						width: 1.5em;
					}

				}
				.contact-right{
					p{
						color: white;
						// font-size: 1em;
						padding-left: 1em;
					}
				}
			}
		}
		.icons{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			@include mobile {
				justify-content: center;
			}
			i{
				display: inline-block;
				background: white;
				border-radius: 60px;
				box-shadow: 0 0 2px #888;
				padding: 0.5em;
				margin: 5px;
				transition: all 0.3s cubic-bezier(0.16, 0.91, 0.56, 1.0);
			}
		}
	}
}

#section-404 {
	height: 85vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	h1 {
		font-size: 10rem;
		color: rgb(0, 25, 60);
	}
	p {
		color: rgb(51, 51, 51);
	}
}
