// navbar page nav-contact-desktop
nav.container-navbar {
	padding: 10px 3% 10px 8%;
	height: 70px;

}

nav#site-navigation .nav-left {
	justify-content: flex-start;
	align-items: center;
	@include mobile {
		justify-content: center;
		flex: 4;
	}
}
nav#site-navigation .nav-middle {
	justify-content: flex-end;
	align-items: center;
	@media(max-width: 1200px){
		display: none;
	}
}
nav#site-navigation .nav-right {
	justify-content: flex-start;
	align-items: center;
}


nav#site-navigation {
	display: flex;
	flex-flow: row;
	background: rgba(#ffffff, 0);
	z-index: 99999;
	transition: all 200ms cubic-bezier(0.71, 0.05, 0.31, 0.95);

	&.scroll-color {
		background: rgba(#ffffff, 0.99);
		box-shadow: 0 2px rgba(#000000, 0.1);
		-webkit-backdrop-filter: blur(8px);
		backdrop-filter: blur(5px);
		transition: all 200ms cubic-bezier(0.71, 0.05, 0.31, 0.95);
	}

	&.fixed {
		position: fixed;
		top: 0;
		width: 100vw;
		background-color: #F2F2F2;
	}
}


// hamburger
#hamburger-bfm {
	height: 70px;
	width: 70px;
	position: relative;
	//border: 2px solid white;
	border-radius: 50%;
	//background-color: white;
	#hamburger {
		height: 6px;
		width: 55px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		background: black;
		transition: all 0.3s;
		&::before,&::after {
			content: '';
			height: 6px;
			width: 100%;
			background: black;
			position: absolute;
			transition: all 0.3s;
		}
		&:after {
			top: 20px;
		}
		&:before{
			top: -20px;
		}
		&.active .span::after {
			top: 0;
			transform: rotate(45deg);
		}
		&.active .span::before{
			top: 0;
			transform: rotate(-45deg);
		}
		&.active .span {
			background: none;
		}
	}
}

/* Hamburger */
#hamburger-bfm{
  position: relative;
	top: 10px;
	right: -20px;
	transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
	display: none;
	// @include tablet {
	// 	display: block;
	// }

	@media (max-width: 1200px){
		display: block;
	}
}

#hamburger-bfm{
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-bfm.is-active .line{
  width: 35px;
}

#hamburger-bfm.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}
#hamburger-bfm.is-active .line:nth-child(2){
  opacity: 0;
}
#hamburger-bfm.is-active .line:nth-child(3){
  -webkit-transform: translateY(-4px) rotate(135deg);
  -ms-transform: translateY(-4px) rotate(135deg);
  -o-transform: translateY(-4px) rotate(135deg);
  transform: translateY(-4px) rotate(135deg);
}


// Responsive
#nav-mobile {
	display: flex;
	flex-flow: column;
	// justify-content: center;
	@include position(absolute, $top: 70px, $left: 0);
	z-index: 99;
	padding: 30px 5px;
	min-height: 100vh;
	overflow: hidden;
	width: 100vw;
	background: $blue-new;
	// text-align: center;
	transform: translateX(-100%);
	transition: transform 0.5s cubic-bezier(0.59, 1.08, 0.86, 0.96);
	h2 {
		margin-top: 30px;
	}
	&.open {
		transform: translateY(0);
	}
	ul#primary-menu-mobile {
		position: relative;
		text-decoration: none;
		// text-transform: uppercase;
		font-weight: 700;
		margin-top: -30px;
		padding: 0 5px;
		display: flex;
		flex-flow: column;
		// align-items: center;

		li {
			margin: 5px 0 5px 50px;
			display: block;
			h2 {
				margin-top: 3vh;
			}
			a {
				padding: 5px 5px;
				font-size: 2rem;
				font-weight: 700;
				color: white;
				// &:after {
				// 	content: "";
				// 	@include position(absolute, $bottom: 0, $left: 0);
				// 	height: 10%;
				// 	width: 100%;
				// 	background: $yellow;
				// 	/* box-shadow: 2px 2px 0 #000000; */
				// 	z-index: -1;
				// 	transition: transform 0.3s cubic-bezier(0.11, 0.7, 1, 1.2);
				// }
				button {
					font-size: 1.6rem;
					margin: 20px 0;
				}
			}
		}

	}
	&.active {
		transform: translateY(0);
	}
	#10pxgap{
		margin-top: 10px;
	}
}

// Menu Items List
ul#primary-menu {
	display: flex;
	align-items: center;
	height: 100%;

	li {
		margin: 0 10px;
		text-align: center;
	}
}



// menu item
ul#primary-menu > li > a {
	font-size: 1rem;
	color: black;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	padding: 5px 5px;
	cursor: pointer;
	text-align: center;

	&:after {
		content: "";
		position: absolute;
		background: $light-grey;
		z-index: -2;
		transition: all 0.2s ease;
		border-radius: 3px;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 3px;
	}

	&:before {
		content: "";
		position: absolute;
		background: $blue-new;
		z-index: -1;
		transition: all 0.2s ease;
		border-radius: 3px;

		right: 0;
		bottom: 0;
		width: 0;
		height: 3px;

		// V4
		// width: 0;
		// height: 2px;
		// bottom: 0;
		// left: 0;
		//
		//
		// V3 - underlined. rectangle comes down
		// left: 0;
		// top: 0;
		// width: 100%;
		// height: 0%;
		//
		//
		// V2 - underlined. rectangle goes up
		// left: 0;
		// bottom: 0;
		// width: 100%;
		// height: 0%;
		//
		//
		// V1 - old fancy button
		// left: 10px;
		// bottom: 0;
		// height: 50%;
		// width: 100%;
		//
	}

	&:hover {
		&:before {
			/* V1 - old fancy button
			transform: scaleY(0.25) translateY(25px);
			*/

			/* V2 and V3
			height: 100%;
			*/

			/* V4
			*/
			left: 0;
			width: 100%;
			transition: all 0.2s ease;
		}
	}
}


// submenu box
ul#primary-menu > li:hover > ul.sub-menu {
	left: -70%;
	opacity: 1;
	background: $light-grey;
}
#services-mobile{

	font-size: 2rem !important;
	color: white !important;
	margin: 5px 0 5px 50px;
}
// services submenu
#primary-menu ul {
	background: white;
	/* position: relative; */
	box-shadow: none;
	margin-top: 0px;
	padding: 30px 0 15px 0;
	// text-align: center;
	transition: opacity 0.4s cubic-bezier(0.11, 0.7, 1, 1);
	opacity: 0;
	&:after {
		content: "";
		@include position(absolute, $top: 0, $left: 0);
		height: 17px;
		width: 100%;
		background: #F2F2F2;
	}
	li {
		/* background: $blue; */
		border-radius: 10px;
		margin: 5px 0 !important;
		/* box-shadow: 2px 2px 5px -1px #818181; */
		a {
			font-size: 0.9rem;
			padding: 5px 10px;
			font-weight: 700;
			text-transform: uppercase;
			color: black;
			width: 200px;

			&:after {
				content: "";
				height: 85%;
				width: 0;
				@include position(absolute, $bottom: 10%, $left: 10px);
				background-image: linear-gradient(to right, #1da5c9 0%,#1d85db 100%);
				color: white;
				z-index: -1;
				transition: all 0.2s cubic-bezier(0.11, 0.7, 1, 1);
			}
			&:hover {
				color: white;
				&:after {
					width: 90%;
				}
			}

		}
	}
}

/////// primary-menu-mobile
ul#primary-menu-mobile {
	display: flex;
	flex-flow: column;
	// align-items: center;
	height: 100%;

	li {
		margin: 0 10px;
	}
}

ul#secondary-menu-mobile {
	display: flex;
	flex-flow: column;
	// align-items: center;
	height: 100%;
	margin-bottom: 30px;
	background-color: $yellow;
	margin-left: 50px;

	li {
		margin: 5px 0 5px 0px;
		a {
			font-size: 2rem;
			font-weight: 700;
			color: black;
			margin: 5px 0 5px 40px;


		}
	}
}

// menu item
ul#primary-menu-mobile > li > a {
	position: relative;
	text-decoration: none;
	// text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	padding: 0 5px;
	cursor: pointer;

	&:after {
		content: "";
		height: 50%;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 10px;
		//background: $yellow;
		/* box-shadow: 2px 2px 0 #000000; */
		z-index: -1;
		transition: transform 0.3s cubic-bezier(0.11, 0.7, 1, 1.2);
	}

}

// services submenu
ul#primary-menu-mobile ul {
	//background: $yellow;
	/* position: relative; */
	background: white;
	box-shadow: none;
	margin-top: 0px;
	padding: 30px 0 15px 0;
	text-align: center;
	transition: opacity 0.4s cubic-bezier(0.11, 0.7, 1, 1);
	opacity: 0;
	&:after {
		content: "";
		@include position(absolute, $top: 0, $left: 0);
		height: 22px;
		width: 100%;
		background: white;
	}
	li {
		/* background: $blue; */
		border-radius: 10px;
		margin: 5px 0 !important;
		/* box-shadow: 2px 2px 5px -1px #818181; */
		a {
			font-size: 0.9rem;
			padding: 5px 10px;
			font-weight: 700;
			// text-transform: uppercase;
			color: black;
			width: 200px;
			&:after {
				content: "";
				height: 85%;
				width: 0;
				@include position(absolute, $bottom: 10%, $left: 10px);
				background: white;
				z-index: -1;
				transition: all 0.2s cubic-bezier(0.11, 0.7, 1, 1);
			}
			&:hover {
				/* color: white; */
				&:after {
					width: 90%;
				}
			}

		}
	}
}



// logo
img#logo-header {
	height: 43px;
	margin: 5px 15px;
}

#primary-menu-mobile > li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-66 > a{
	display: none;
}

#primary-menu-mobile > li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-41{
	display: none;
	margin: 0 !important;
}
#primary-menu-mobile > li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-41 > a{
	display: none;
	margin: 0 !important;
}



#menu-item-130{
  background-size: 200% auto;
  background-image: linear-gradient(to right, #1da5c9 0%, #1d85db 100%);
  text-transform: uppercase;
  padding: 0px 15px;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  white-space: nowrap;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  margin: 5vh auto;
	a{
	  color: white !important;
	}
	a::before{
		display: none;
	}
	a::before:hover{
		display: none;
	}
  a::after{
    display: none;
  }
	a::after:hover{
		display: none;
	}
}


/* //mega menu style */
/*from alex*/
.nav-start {
position: relative;
}
.main-navigation li.mega-menu {
	position: unset;
}
ul#primary-menu > li.mega-menu > ul.sub-menu {
	left: 8%;
	right: 3%;
	margin-top: 17px;
	opacity: 1;
	padding-top: 0;
	padding-bottom: 0;
	background: #f2f2f2;
	position: absolute;
	top: 75%;
	transition: all 0.5s ease 0s;
	visibility: hidden;
	z-index: -9;
	transform: scaleY(0);
	transform-origin: center top 0;
	border-top: 1px solid #f2f2f2;
}
ul#primary-menu > li.mega-menu:hover > ul.sub-menu {
	opacity: 1;
	transform: scaleY(1);
	visibility: visible;
	z-index: 9999;
	background-color: #F0F4F7;
}
ul#primary-menu > li.mega-menu:hover > ul.sub-menu > li {
	text-align: left;
	padding: 40px 60px;
	border-right: 1px solid #f2f2f2;
	border-radius: 0;
}
ul#primary-menu > li.mega-menu:hover > ul.sub-menu > li:last-child {
border-right: none;
}
ul#primary-menu > li.mega-menu:hover > ul.sub-menu li ul.sub-menu {
	opacity: 1;
	position: relative;
	text-align: left;
	background: none;
	display: block;
	left: 0;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
}
ul#primary-menu > li.mega-menu:hover > ul.sub-menu li ul.sub-menu li {
text-align: left;
}
ul#primary-menu > li.mega-menu:hover > ul.sub-menu li ul.sub-menu li a {
padding-left: 0;
}
#primary-menu ul li a.mega-title {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	border-bottom: 2px solid #000;
	float: left;
	color: #000;
	font-weight: 700;
	font-size: 20px;
	font-family: $font-primary;
	text-transform: uppercase;
	cursor: pointer;
	padding-left: 0;
	transition: background-color 0.3s;
}
#primary-menu ul li a.mega-title:after {
display: none;
}
#primary-menu ul li a.mega-title:hover {
background-color: #F0F4F7;
transition: background-color 0.3s;
}
#primary-menu li.mega-menu ul:after {
	display: none;
}
ul#primary-menu > li > a::after {
	bottom: -17px;
	content: "";
	height: 25px;
	left: 0;
	position: absolute;
	width: 100%;
	background-color: transparent;
}
#primary-menu li.mega-menu ul {
padding-bottom: 0;
}
#primary-menu li.mega-menu ul li {
margin: 0 !important;
}
ul#primary-menu > li.mega-menu:hover > ul.sub-menu li ul.sub-menu li a {
padding: 0;
transition: padding-left 0.3s;
font-weight: 500;
text-transform: capitalize;
}
ul#primary-menu > li.mega-menu:hover > ul.sub-menu li ul.sub-menu li a:hover {
background-color: transparent;
color: black;
padding-left: 5px;
transition: padding-left 0.3s;
}
ul#primary-menu > li.mega-menu:hover > ul.sub-menu li ul.sub-menu li a:after {
display: none;
}
ul#primary-menu > li.mega-menu:hover > ul.sub-menu li ul.sub-menu li a:hover:after {
display: none;
}
nav#site-navigation .nav-start {
background-color: #fff;
}

#menu-item-64 > a{
	background-image: url("images/graphic-design/gradient/bfm-2.0-graphic-design-page-main-icon.svg");
	padding: 20px 0 10px 95px !important;
	background-repeat: no-repeat;
	background-size: 80px 80px;
	background-position: left;

}
#menu-item-65 > a{
	background-image: url("images/webdesign/gradient/bfm-2.0-web-design-page-main-icon.svg");
	padding: 20px 0 10px 95px !important;
	background-repeat: no-repeat;
	background-size: 80px 80px;
	background-position: left;
}

#menu-item-63 > a{
	background-image: url("images/digital-marketing/gradient/bfm-2.0-digital-marketing-page-main-icon.svg");
	padding: 20px 0 10px 95px !important;
	background-repeat: no-repeat;
	background-size: 80px 80px;
	background-position: left;
}
