.container-navbar {
	padding: 10px 10%;
	@include mobile {
		padding: 0;
	}
}

nav#site-navigation {
	display: flex;
	flex-flow: row;
	background: rgba(#ffffff, 0);
	z-index: 99999;
	transition: all 200ms cubic-bezier(0.71, 0.05, 0.31, 0.95);

	&.scroll-color {
		background: rgba(#ffffff, 0.99);
		box-shadow: 0 2px rgba(#000000, 0.1);
		-webkit-backdrop-filter: blur(8px);
		backdrop-filter: blur(5px);
		transition: all 200ms cubic-bezier(0.71, 0.05, 0.31, 0.95);
	}

	&.fixed {
		position: fixed;
	}
	@include mobile {
		display: block;
		height: auto;
		&.scroll-color {
			background: rgba(#ffffff, 0);
		}
	}
}

nav#site-navigation .nav-left{
	flex: 2;
	display: flex;
	align-items: center;
	height: 50px;
	a,
	h3.site-title {
		margin: 0;
	}
	@include mobile {
		justify-content: center;
		background: white;
	}
}

nav#site-navigation .nav-right {
	flex: 5;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	.menu-menu-1-container {
		height: 100%;
		ul#primary-menu {
			display: flex;
			align-items: center;
			height: 100%;

			li {
				margin: 0 10px;
			}
		}
	}
	@include mobile {
		flex-flow: column;
		justify-content: flex-start;
		height: 100vh;
		width: 100vw;
		background: white;
		justify-content: center;
		transform: translateX(100%);
		transition: transform 0.5s cubic-bezier(0.59, 1.08, 0.86, 0.96);
		.menu-menu-1-container {
			height: auto;
			ul#primary-menu {
				flex-flow: column;
			}
		}
		a {
			text-align: center;
			margin: 10px 0;
		}
		&.active {
			transform: translateX(0);
		}
	}
}

.menu-item a {
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	padding: 0 5px;

	&:after {
		content: "";
		height: 50%;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 10px;
		background: $yellow;
		/* box-shadow: 2px 2px 0 #000000; */
		z-index: -1;
		transition: transform 0.3s cubic-bezier(0.11, 0.7, 1, 1.2);
	}

	&:hover {
		/* color: white; */
		&:after {
			transform: scaleY(0.25) translateY(25px);
			box-shadow: none;
		}
	}
}
