nav#site-navigation {
	display: flex;
	flex-flow: row;
	background: rgba(#ffffff, 0);
	z-index: 99999;
	transition: all 200ms linear;
	&.scroll-color {
		background: white;
		transition: all 200ms linear;
	}
	&.fixed {
		position: fixed;
	}
	.nav-left {
		flex: 1;
	}
	.nav-right {
		flex: 4;
		text-align: right;
	}
}
